/* header */
header {
    text-align: center;
    background: url(bilder/bilder/header.png.png);
    height: 110vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.voodoo {
    position: relative;
    padding-top: 5rem;
    font-size: 2rem;
    font-weight: 700;
}