/* media queries */
@media (max-width: 627px) {
    .video-section {
        background-color: white;
    }
}

@media (max-width: 700px) {
    /* introduction */
    .introduction {
        width: 75%;
    }
    .hey-guys {
        text-align: left;
        font-size: 2rem;
        padding-bottom: .5rem;
    }

    .p-start {
        width: 80%;
    }

    /* Start of You8ubability */  
    .articles1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .article1-text, .container-item, .articles3 {
        padding-top: 0;
        max-width: 75%;
    }

    .article1-img {
        order: -1;
        height: 50vh;
    }

    .article1-h2 {
        font-size: 1.4rem;
    }

    .article1-p {
        padding-bottom: 0;
    }

    .articles2 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }

    .container-item {
        padding: 0;
    }
    
    .article2-p1 {
        padding-top: 0;
        text-align: left;
    }
    
    .article2-p2 {
        text-align: left;
    }
    
    .article2-img {
        order: -1;
        height: 50vh;
    }

    .article3-p {
        padding-top: 1rem;
        text-align: left;
    }
    .totw-p {
        width: 75%;
    }
    .footer-container, {
        max-width: 75%;
    }
}

@media (max-width: 910px) {
    .hey-guys {
        font-size: 2.5rem;
        padding-bottom: .5rem;
    }
}

@media (max-width: 1120px) {
    .article2-p1 {
    padding-top: 1rem;
    }
}
