/* starselector, reset */
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: grey;
  box-sizing: border-box;
  font-size: 16px; }

h1, h2, h3 {
  color: darkslategray; }

/*article position */
article {
  margin: auto;
  width: 80%; }

/* header */
header {
  text-align: center;
  background: url(bilder/bilder/header.png.png);
  height: 98.5vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.voodoo {
  position: relative;
  padding-top: 5rem;
  font-size: 2rem;
  font-weight: 700; }

/* introduction */
.introduction {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 70%; }

.hey-guys {
  text-align: right;
  font-size: 3rem;
  padding-bottom: 1rem; }

.p-start {
  width: 40%;
  text-align: right; }

/* Start of Youtubability */
.articles1 {
  display: flex;
  justify-content: center; }

.article1-text, .container-item {
  padding-top: 6rem;
  max-width: 50%; }

.article1-img {
  order: 10;
  height: 50vh; }

.article1-h2 {
  font-size: 1.4rem; }

.article1-p {
  padding-top: 1rem; }

/* the videobox */
.video-section {
  margin-top: 2rem;
  background-color: #2b2e34;
  display: flex;
  justify-content: center; }

.video {
  height: 40vh;
  width: 100%; }

.articles2 {
  display: flex;
  justify-content: center;
  flex-direction: row; }

.article2-p1 {
  padding-top: 3rem;
  text-align: right; }

.article2-p2 {
  padding-top: 1rem;
  text-align: right; }

.article2-img {
  order: -1;
  height: 50vh; }

.articles3 {
  margin: auto;
  max-width: 80%; }

.article3-p {
  text-align: left;
  padding-bottom: 1rem; }

.section-totw {
  padding-top: 25vh;
  background: url(bilder/bilder/Q1_newsletter-02.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 10vh; }

.totw-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center; }

.totw-h2 {
  font-size: 2rem;
  padding-bottom: 2rem; }

.totw-p {
  width: 80%; }

/* footer */
.section-footer {
  background-color: #2b2e34;
  padding-bottom: 2rem; }

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.footer-h2 {
  padding: 3rem 0 1rem 0; }

.footer-item1, .footer-item2 {
  width: 25rem; }

.footer-item1 {
  margin-right: 2rem; }

.f1-2 {
  padding-bottom: 2rem; }

.f2-1 {
  padding: 5rem 0 1rem 0; }

.f2-2, .f2-1 {
  text-align: right;
  font-style: italic; }

.footer-h2, .footer-p {
  color: white; }

/* media queries */
@media (max-width: 627px) {
  .video-section {
    background-color: white; } }

@media (max-width: 700px) {
  /* introduction */
  .introduction {
    width: 75%; }
  .hey-guys {
    text-align: left;
    font-size: 2rem;
    padding-bottom: .5rem; }
  .p-start {
    width: 80%; }
  /* Start of You8ubability */
  .articles1 {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .article1-text, .container-item, .articles3 {
    padding-top: 0;
    max-width: 75%; }
  .article1-img {
    order: -1;
    height: 50vh; }
  .article1-h2 {
    font-size: 1.4rem; }
  .article1-p {
    padding-bottom: 0; }
  .articles2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 100%; }
  .container-item {
    padding: 0; }
  .article2-p1 {
    padding-top: 0;
    text-align: left; }
  .article2-p2 {
    text-align: left; }
  .article2-img {
    order: -1;
    height: 50vh; }
  .article3-p {
    padding-top: 1rem;
    text-align: left; }
  .totw-p {
    width: 75%; }
  .footer-container {
    max-width: 75%; } }

@media (max-width: 910px) {
  .hey-guys {
    font-size: 2.5rem;
    padding-bottom: .5rem; } }

@media (max-width: 1120px) {
  .article2-p1 {
    padding-top: 1rem; } }
